p {
    margin: var(--space-sm) 0;
}

ul, 
ol {
    padding-left: var(--space-lg);
}

.heading {
    font-family: var(--heading-font);
    font-weight: var(--font-weight-bold);
}

.uppercase {
    text-transform: uppercase;
}

ins {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}