h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 3.5rem;
    line-height: var(--line-height-sm);
}

h2 {
    margin: var(--space-lg) 0 var(--space-md);
    font-size: 1.8em;
}

h3 {
    margin: var(--space-sm) 0 var(--space-md);
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
    margin: var(--space-sm) 0;
}

h5, h6 {
    font-size: 1em;
    text-transform: uppercase;
}

h6 {
    font-weight: var(--font-weight-light);
}

.subheader {
    font-size: var(--font-size-lg);
}