.list-unstyled {
    list-style-type: none;
    padding: 0;
}

.list-title {
    display: block;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    margin: 0 0 var(--space-md);
}

.columns .list {
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}