@use "../utilities/breakpoints" as *;

.remarked {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.remarked > :first-child {
    min-width: var(--content-max-width);
}

.remark {
    height: fit-content;
    width: calc(var(--global-fr) * 2);
    min-width: calc(var(--global-fr) * 2);
    max-width: calc(var(--global-fr) * 4);
    margin: var(--space-sm) 0 0;
    padding: var(--space-sm) 0 var(--space-md) var(--space-md);
    border-top: 1px solid var(--border-color);
    line-height: 1.2em;
    position: relative;

    @include multi-breakpoint(tablet, mobile) {
        width: 100%;
        max-width: var(--text-content-width);
        min-width: none;
        text-align: right;
        margin-top: var(--space-md);
    }
}

.remark a {
    color: var(--text-color-light);
}

.aside-footer,
.footnote-inside-text {
    float: right;
    width: calc(var(--global-fr) * 2 + var(--base-unit));
    font-size: var(--font-size-sm);
    color: var(--text-color-light);
    margin-right: calc(var(--global-fr) + var(--base-unit));
    line-height: 1.2em;
}

.footnote-inside-text a {
    color: var(--text-color-light);
}

.sidenote-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: var(--base-unit);
    grid-auto-flow: row dense;

    & > :first-child {
        margin-top: 0;
        grid-column: 1 / span 5;
    }

    .sidenote {
        grid-column: 7 / span 2;
        grid-row: 1 / span 2;
        align-self: start;
        width: 100%;
        max-width: calc(2 * var(--global-fr));
        font-size: var(--font-size-sm);
        line-height: 1.4em;
        color: var(--text-color-light);
        padding-top: var(--space-sm);
        position: relative;
    }

    .sidenote a {
        color: var(--text-color-light);
    }

    .sidenote p:first-child {
        margin-top: 0;
    }

    :not(:first-child):not(.sidenote) {
        grid-column: 1 / span 5;
    }

    @media (max-width: 1024px) {
        & { 
            display: flex; 
            flex-direction: column;
                .sidenote {
                    max-width: 100%; 
                }
        }

        .sidenote {
            padding: var(--space-sm);
        }

        .sidenote p:first-child {
            margin-top: var(--space-md);
        }
    }
}

.sidenote-bookmark::before,
.remark::before,
.sidenote-attach::before,
.sidenote-link::before,
.sidenote-bulb::before,
.sidenote-memory::before {
    font-family: "Material Symbols Outlined";
    font-size: var(--font-size-lg);
    position: absolute;
    top: -8px;
    left: -16px;
    color: var(--text-color-light);

    @media (max-width: 1024px) {
        & {
            top: 8px;
            left: -8px;
        }
    }
}

.sidenote-bookmark::before,
.remark::before {
  content: "attach_file";
}

.sidenote-attach::before {
  content: "attach_file";
}

.sidenote-link::before {
  content: "arrow_outward";
}

.sidenote-bulb::before {
  content: "lightbulb_2";
}

.sidenote-memory::before {
  content: "cognition";
}