table {
    display: block;
    min-width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--space-lg);
    text-align: center;
    overflow-x: auto;
    font-family: var(--code-font);
    font-size: var(--font-size-sm);
}

tbody {
    display: table;
    width: 100%;
}

table td:first-child,
table th:first-child {
    text-align: left;
    padding-right: var(--space-sm);
}

table td:last-child,
table th:last-child {
    text-align: right;
    padding-left: var(--space-sm);
}

table td:not(:first-child):not(:last-child),
table th:not(:first-child):not(:last-child) {
    text-align: center;
    padding: 0 var(--space-sm);
}

.table-striped tbody tr:nth-child(even) {
    background-color: var(--gray-mid-light);
}

.table-terminal {
    line-height: var(--line-height);
}

.table-terminal td:last-child,
.table-terminal th:last-child {
  text-align: right;
}

.table-terminal tbody tr:hover,
.table-striped tbody tr:hover {
    background-color: var(--gray-lightest);
}

.table-small {
    width: fit-content;
    min-width: fit-content;
}

.table-small td {
    vertical-align: top;
    padding-bottom: var(--space-sm);
}

.table-small th,
.table-small th:last-child,
.table-small td:last-child {
    text-align: left;
}