table {
    min-width: 100%;
    font-size: var(--font-size-sm);
    line-height: var(--line-height);
    border-collapse: collapse;
    margin-bottom: var(--space-lg);
    overflow-x: auto;
}

thead,
tbody {
    width: 100%;
}

th {
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

th, td {
    vertical-align: top;
    padding: var(--space-xs) var(--space-sm);
}

td:first-child,
th:first-child {
    text-align: left;
    padding-left: 0;
    padding-right: var(--space-md);
}

.table-striped tbody tr:nth-child(even) {
    background-color: var(--gray-mid-light);
}

.table-terminal {
    font-family: var(--code-font);
    text-align: center;
}

.table-terminal th {
    text-align: center;
}

.table-terminal td:last-child,
.table-terminal th:last-child {
    text-align: right;
}

.table-terminal tbody tr:hover,
.table-striped tbody tr:hover {
    background-color: var(--gray-lightest);
}

.table-small {
    width: fit-content;
    min-width: fit-content;
}

.table-small td {
    vertical-align: top;
    padding-top: 0;
    padding-bottom: var(--space-sm);
}

.table-small th,
.table-small th:last-child,
.table-small td:last-child {
    text-align: left;
}

.table-bordered {
    border: 1px solid var(--border-color);

    & thead {
        background-color: var(--gray-mid-light);
    }

    & th, td {
        padding: var(--space-sm);
    }

    tr {
        border-bottom: 1px solid var(--border-color);
    }

    tr:hover {
        background-color: var(--gray-lightest);
    }

    .table-section {
        border-bottom: none;

        > td {
            padding-bottom: var(--space-md);
        }
            p {
                margin: 0;
            }
    }
}