@use "../utilities/breakpoints" as *;

:root {
    --text-content-width: calc((var(--global-fr) * 5) + (var(--grid-gap) * 4));
    --text-content-caption: calc(var(--text-content-width) + var(--global-fr) + var(--space-xl));
}

@include tablet {
    :root {
        --text-content-width: calc((var(--global-fr) * 7) + var(--grid-gap-global) * 6);
    }
}

@include mobile {
    :root {
        --text-content-width: 100%;
        --text-content-caption: calc(100vw - var(--space-md));
    }
}

.text-content-width {
    width: var(--text-content-width);
}

article p,
article ul, 
article ol  {
    max-width: var(--text-content-width);

    @include mobile {
        max-width: 100%;
    }
}

article .meta-info {
    margin-top: var(--space-sm);
}

.nobr,
.nobreak {
    white-space: nowrap;
}

.lead-container {
    width: var(--global-fr-4);

    @include mobile {
        width: 100%;
    }
}

.lead {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-light);
    margin: var(--space-sm) 0 var(--space-md);
    line-height: var(--line-height-sm);

    @include mobile {
        width: 80%;
    }
}

.text-content-caption,
.highlight,
p.highlight {
    width: var(--text-content-caption);
    max-width: unset;
    margin-left: calc(-1 * var(--space-lg));
    margin-right: calc(-1 * var(--space-lg));

    @include mobile {
        margin-left: calc(-1 * var(--space-sm));
    }
}

.meta-info {
    margin-bottom: var(--space-md);
}

.caption {
    margin-left: calc(-1 * var(--space-lg));
    margin-right: calc(-1 * var(--space-lg));
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height);
    padding: var(--space-lg) calc(var(--space-lg) - var(--space-sm)) ;
    background-color: var(--gray-light);
    border-left: var(--space-sm) solid var(--primary-color);
}

.highlight {
    text-align: center;
    font-size: var(--font-size-xl);
    line-height: var(--line-height);
    font-weight: 700;
    border: var(--space-sm) solid var(--brand-color);
    padding: var(--space-lg);
}

mark {
    background-color: var(--yellow);
    color: var(--primary-color);
}

.note,
.meta-info,
.warning,
.remark,
cite,
.footnote {
    color: var(--text-color-light);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-sm);
    line-height: 1.3em;
}

.warning {
    padding: var(--space-sm) var(--space-md);
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: var(--space-xs);
    color: var(--warning-color);
}

cite {
    display: block;
    width: 100%;
    margin: var(--space-sm) 0;
    text-align: right;
    color: var(--grey-dark);
}

.handwritten {
    font-family: var(--script-font);
    font-size: var(--font-size-lg);
}

.footnote {
    margin-top: var(--space-lg);
    padding-top: var(--space-md);
    border-top: 1px solid var(--border-color-light);
}


pre {
    line-height: var(--line-height-sm);
    background-color: var(--gray-mid-light);
    color: var(--gray-dark);
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--space-sm);
    overflow-x: auto;
    margin-bottom: 1em;
    margin-left: calc(-1 * var(--space-lg));
    box-shadow: var(--inner-shadow-sm);
    scrollbar-width: none; 
    -ms-overflow-style: none;

    @include tablet {
        padding: var(--space-md);
    }

    @include mobile {
        padding: var(--space-md);
        margin-left: calc(-1 * var(--space-sm));
    }
}

code {
    font-size: var(--font-size-sm);
    color: var(--gray-dark);
    background-color: var(--gray-mid-light);
    padding: calc(var(--space-px) * 2) var(--space-xs) var(--space-px);
    border: var(--border-code);
    border-radius: var(--space-xs);
    font-family: var(--code-font);
    width: fit-content;
    
    @include mobile {
        font-size: var(--font-size-xs);
    }
}

pre code {
    padding: 0;
    border: none;
    border-radius: none;
    background: none;
}

.code-comment {
    color: var(--gray-trans);
}

// REMARKS

.remarked {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.remarked > :first-child {
    min-width: var(--content-max-width);
}

.remark {
    height: fit-content;
    width: calc(var(--global-fr) * 2);
    min-width: calc(var(--global-fr) * 2);
    max-width: calc(var(--global-fr) * 4);
    margin: var(--space-sm) 0 0;
    padding: var(--space-sm) 0 var(--space-md) var(--space-md);
    border-top: 1px solid var(--border-color);
    line-height: 1.2em;
    position: relative;

    @include multi-breakpoint(tablet, mobile) {
        width: 100%;
        max-width: var(--text-content-width);
        min-width: none;
        text-align: right;
        margin-top: var(--space-md);
    }
}

.remark::before {
  content: "bookmark_border";
  font-family: "Material Icons Outlined";
  font-size: var(--font-size-lg);
  position: absolute;
  top: -9px;
  left: -3px;
  color: var(--border-color);
  background: var(--bg-color);
}

.remark a {
    color: var(--gray-trans);
}

.footnote-inside-text {
    float: right;
    width: calc(var(--global-fr) * 2 + var(--base-unit));
    font-size: var(--font-size-sm);
    color: var(--text-color-light);
    margin-right: calc(var(--global-fr) + var(--base-unit));
    line-height: 1.2em;
}

.footnote-inside-text a {
    color: var(--text-color-light);
}

.sidenote-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: var(--base-unit);
    grid-auto-flow: row dense;

    & > :first-child {
        margin-top: 0;
        grid-column: 1 / span 5;
    }

    .sidenote {
        grid-column: 7 / span 2;
        grid-row: 1 / span 2;
        align-self: start;
        width: 100%;
        max-width: calc(2 * var(--global-fr));
        font-size: var(--font-size-sm);
        line-height: 1.2em;
        color: var(--text-color-light);
        padding-top: var(--space-xs);
    }

    .sidenote a {
        color: var(--text-color-light);
    }

    .sidenote p:first-child {
        margin-top: 0;
    }

    :not(:first-child):not(.sidenote) {
        grid-column: 1 / span 5;
    }

    @media (max-width: 1024px) {
        & { 
            display: flex; 
            flex-direction: column;
                .sidenote {
                    max-width: 100%; 
                }
        }

        .sidenote p:first-child {
            margin-top: var(--space-md);
        }
    }
}

// COLUMNS

@mixin generate-columns($max: 6, $prefix: "") {
    @if $prefix == "" {
      .columns {
        column-count: 2;
        column-gap: var(--space-lg);
      }
    }
  
    @for $i from 1 through $max {
      .#{$prefix}columns-#{$i} {
        column-count: $i;
      }
    }
}

@include generate-columns();

@include mobile {
  @include generate-columns(6, "mobile\\:");
}

@include tablet {
  @include generate-columns(6, "tablet\\:");
}

@include desktop {
  @include generate-columns(6, "desktop\\:");
}