@use "../utilities/breakpoints" as bp;

.card {
    display: flex;
    flex-direction: column;
    background: var(--gray-lightest);
    position: relative;
}

.card-hover:hover {
    background: var(--grey-lightest);
    border-bottom: 1px solid var(--border-color-light);
    box-shadow: var(--shadow-sm);
}

.card-header {
    border-bottom: 1px solid var(--border-color-light);
}

.card-inverted {
    display: flex;
    flex-direction: column;
    background: var(--gray-dark);
    color: var(--gray-light);
    position: relative;
}

.card-inverted a {
    color: var(--gray-light);
}

.card-dashboard-bordered {
    padding: var(--space-md) var(--space-lg);
    border: 1px solid var(--border-color);
    border-radius: var(--space-xs);
}

.card-row-bordered {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border: 1px solid var(--border-color);
    border-radius: var(--space-xs);
}

.card-row-bordered-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--space-md);
    text-align: center;
}

.card-row-bordered > .card-row-bordered-item:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

.card-caption {
    margin-left: calc(var(--space-lg) * -1);
    
    @include bp.mobile {
        margin-left: calc(var(--space-sm) * -1);
    }
}