.material-icons,
.material-icons-outlined,
.material-symbols-outlined {
    position: relative;
    top: 0.2em;
    font-size: inherit;
}

.section-icon.material-icons-outlined {
    display: inline-block;
    position: relative;
    top: 0.3em;
    margin-left: -1.3rem;
    font-size: 1.5rem;
    color: var(--text-color-light);
}

.remark .material-icons {
    position: absolute;
    top: -0.2em;
    left: -1.2em;
    font-size: 1.5em;
}

.remark .material-icons-outlined {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .section-icon.material-icons-outlined {
        margin-left: 0;
    }
}

.copy-data-icon {
    display: inline-block;
    font-family: "Material Symbols Outlined";
    font-size: var(--font-size-lg);
    position: relative;
    top: 0.2em;
    font-size: inherit;
    line-height: inherit;
    background: none;
    color: var(--text-color-light);
    border: none;
    padding: 0;
    cursor: pointer;
}

.copy-data-icon::before {
    content: attr(data-icon);
}

.copy-data-icon:hover {
    color: var(--primary-color);
    background: none;
    border: none;
}

.code-block .copy-data-icon {
    position: absolute;
    top: var(--space-sm);
    right: var(--space-sm);
}