$airs: sm, md, lg, xl;

@each $air in $airs {
  .text-content-separator-#{$air} {
    height: 1px;
    background-color: var(--border-color);
    width: var(--text-content-width);
    margin: var(--space-#{$air}) 0;
  }

  .content-separator-#{$air} {
    height: 1px;
    background-color: var(--border-color);
    width: 100%;
    margin: var(--space-#{$air}) 0;
  }
}