:root {
    --blue: #1677ff;
    --blue-light: #bae0ff;
    --blue-dark: #003eb3;
}

$blue_colors:
blue, 
blue-light, 
blue-dark;

// Generate CSS variables for each color
@each $color in $blue_colors {
    .#{$color + ""} {
        color: var(--#{$color});
    }

    .#{$color + ""}-bg {
        background-color: var(--#{$color});
    }

    .#{$color}-link {
      text-decoration-color: var(--#{$color});
      background-image: linear-gradient(
        to top,
        color-mix(in srgb, var(--#{$color}) 20%, transparent) 0 100%
      );
    }
}