<footer class="padding-x-md">
  <div class="site-max-width padding-y-lg row stretched">
    <div>
      <p>&copy; 2023—{{ year }} <a href="https://raredigits.io">Rare Digits Production</a> | 
      <a href="/legal/terms/">Terms of Use</a> | <a href="/legal/privacy/">Privacy Policy</a></p>
    </div>
    <div class="row gap-md padding-y-sm font-size-lg">
      <a class="link-img" href="https://raredigits.io/about/contacts/"><span class="vendor-logo wa bw"></span></a>
      <a class="link-img" href="https://github.com/raredigits/rare-styles"><span class="vendor-logo github color"></span></a>
    </div>
  </div>

</footer>

{% include "special/cookie-consent.njk" %}

{% include "scripts.njk" %}

</body>
</html>