<footer class="padding-x-md">
  <div class="site-max-width padding-y-lg row stretched">
    <p>&copy; 2023—{{ year }} <a href="https://raredigits.io">Rare Digits Production</a></p>
    <div class="row gap-md padding-y-sm font-size-lg">
      <a class="link-img" href="https://raredigits.io/about/contacts/"><span class="vendor-logo wa bw"></span></a>
      <a class="link-img" href="https://github.com/raredigits/rare-styles"><span class="vendor-logo github color"></span></a>
    </div>
  </div>

</footer>

{% include "special/cookie-consent.njk" %}

<script src="/assets/js/search.js"></script>
<script src="/assets/js/hamburger.js"></script>
<script src="/assets/js/header-scroll.js"></script>
<script src="/assets/js/collapsible.js"></script>

</body>
</html>