<div class="nav-hamburger">
    <div>
        <div class="gray-dark-bg padding-md gray-light">
            <div class="site-width-wrapper grid-global font-size-sm line-height-sm">
                <div class="col-span-1 row-span-full white uppercase padding-b-md">
                    The Path To&nbsp;Glory:
                </div>
                <div class="col-span-11 grid">
                    <div class="col-span-2 padding-b-md">
                        1. Prepare Layout
                        <img class="square width-xxl" src="/assets/img/illustrations/hamburger/prepare-layout.svg" alt="">
                    </div>
                    <div class="col-span-2 padding-b-md">
                        2. Import Styles
                        <img class="square width-xxl" src="/assets/img/illustrations/hamburger/import-styles.svg" alt="">
                    </div>
                    <div class="col-span-2 padding-b-md">
                        3. Mark-Up Content
                        <img class="square width-xxl" src="/assets/img/illustrations/hamburger/mark-up.svg" alt="">
                    </div>
                    <div class="col-span-2 padding-b-md">
                        4. Customize
                        <img class="square width-xxl" src="/assets/img/illustrations/hamburger/customize.svg" alt="">
                    </div>
                    <div class="col-span-2 padding-b-md">
                        5. Publish
                        <img class="square width-xxl" src="/assets/img/illustrations/hamburger/publish.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="gray-light-bg padding-x-md padding-t-md">
            <div class="site-width-wrapper grid-global font-size-sm line-height-sm">
                <div class="col-span-1 uppercase">
                   Friendly Reminder:
                </div>
                <div class="col-span-2 mobile-hidden">
                    <span class="bold">Clean The Noise,<br>Highlight The Value</span>
                    <p><a href="/manifesto/value/">The Value</a></p>
                    <p><a href="/manifesto/quality/">Principles</a></p>
                    <p><a href="/manifesto/tips/">Tips</a></p>
                </div>
                <div class="col-span-5 gray-trans padding-b-lg" style="column-count: 2;">
                    <span class="gray-dark">Stop thinking about decorations, start thinking about the value.</span>
                    <p>The only thing that matters is the data your audience is came for. Design, layouts, make-up and decorations are just your tools to highlight the value.</p> 
                    <p>Imagine you have 30 secs to pitch your data. What would you say? What decision maker need to know? How would you present it? What would you highlight? What would you hide?</p>
                    <p>That's it. That's the only thing that matters. Delete the noise. Make your audience satisfied.</p>
                </div>
            </div>
        </div>
        <div class="padding-md">
            <div class="site-width-wrapper grid-global font-size-sm line-height-sm">
                <div class="col-span-1 uppercase">
                    Manuals:
                </div>
                <div class="col-span-11 grid">
                    <div class="col-span-2">
                        <span class="bold">General Settings</span>
                        <ul class="nav-list">
                            <li>Base Unit</li>
                            <li>Viewport & Container</li>
                            <li>Spacing Scale</li>
                            <li>Brand Palette</li>
                            <li>Semantic Colors</li>
                            <li>Text Colors</li>
                            <li>Typefaces</li>
                            <li>UI Tokens</li>
                            <li>States</li>
                            <li>Naming System</li>
                        </ul>
                    </div>
                    <div class="col-span-2">
                        <span class="bold">Modules</span>
                        <ul class="nav-list">
                            <li><a href="/styles/layout/">Layout</a></li>
                            <li>Grid</li>
                            <li>Spaces</li>
                            <li><a href="/styles/bricks/">Componets</a></li>
                            <li>Navigation</li>
                            <li><a href="/styles/typography/">Typography</a></li>
                            <li><a href="/styles/colors/">Colors</a></li>
                            <li>Special</li>
                            <li><a href="/styles/themes/">Themes</a></li>
                        </ul>
                    </div>
                    <div class="col-span-2">
                        <span class="bold">Layouts</span>
                        <ul class="nav-list">
                            <li>General Layout</li>
                            <li>Full-Width</li>
                            <li>Mobile Only</li>
                            <li>Floors System</li>
                        </ul>
                    </div>
                    <div class="col-span-2">
                        <span class="bold">Components</span>
                        <ul class="nav-list">
                            <li>Sections</li>
                            <li>Cards</li>
                            <li>Card Decks</li>
                            <li>Tables</li>
                            <li>Images</li>
                        </ul>
                    </div>
                    <div class="col-span-2">
                        <span class="bold">Decorations</span>
                        <ul class="nav-list">
                            <li>Text Captions</li>
                            <li>Spaces</li>
                            <li>Dividers</li>
                            <li>Shadows</li>
                        </ul>
                    </div>
                    <div class="col-span-2">
                        <span class="bold">Usage</span>
                        <ul class="nav-list">
                            <li>Import Styles</li>
                            <li>Customization</li>
                            <li>Basic Scripts</li>
                            <li><a href="/101/">Mark-Up 101</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="padding-md">
        <div class="site-width-wrapper grid-global font-size-sm line-height-sm">
            <div class="col-span-1 uppercase">
                Need Help?
            </div>
            <div class="col-span-11 grid">
                <div class="col-span-2">
                    <a href="https://chatgtp.com">Ask GPT</a>
                    <p class="font-size-xs">Actualy, the most effective way to solve your problem</p>
                </div>
                <div class="col-span-2">
                    <a href="">Create an Issue</a>
                    <p class="font-size-xs">If you find a bug or have a feature request</p>
                </div>
                <div class="col-span-2">
                    <a href="https://raredigits.io/contacts/">Let's Chat</a>
                    <p class="font-size-xs">To discuss a proper way or provide some feedback</p>
                </div>
            </div>
        </div>
    </section>
  {# <div class="nav-hamburger-wrapper grid">
    <ul>
      {% for item in site.hamburger %}
      <li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% endfor %}
    </ul>
  </div> #}
</div>