<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>

    <link rel="stylesheet" href="/assets/css/rare.css">
    {% if page.url == "/" %}
        <link rel="stylesheet" href="assets/css/examples/rare-styles-main.css">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="icon" href="/assets/img/favicon/favicon-32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png" sizes="180x180">
</head>
<script>
  if (location.hostname !== "localhost") {
    var s = document.createElement('script');
    s.async = true;
    s.src = "https://www.googletagmanager.com/gtag/js?id=G-FM752YW3F4";
    document.head.appendChild(s);

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FM752YW3F4');
  }
</script>
<body>