<div class="cookie-notice rd-js-cookie-consent">
  <div class="cookie-notice__content">
    <h3>🍪</h3>
    <p class="bold">Help yourself to&nbsp;some cookies!</p>
    <p>We’re using third party cookies and scripts to improve the functionality of this website. For legal purpose, we have a <a href="/legal/privacy">Privacy Policy</a>.</p>
    <div class="right">
        <button class="cookie-notice__button rd-js-cookie-accept">Nice!</button>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/raredigits/rare-scripts@v3.0.0/simple-cookie-notice/cookie-consent.min.js"></script>