@use "../utilities/breakpoints" as bp;

.nav-list {
    margin-bottom: var(--space-lg);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    min-height: var(--space-lg);
    @include bp.mobile {
        min-height: var(--space-md);
    }
}