@use "../utilities/breakpoints" as bp;

.sidebar {
    grid-row: 2;
    grid-column: 1/ span 3;
    position: sticky;
    top: calc(var(--header-height) + var(--space-sm));
    margin-top: var(--space-sm);
    padding-bottom: var(--space-lg);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: var(--space-sm);
    z-index: 10;

    @include bp.mobile {
        width: 100%;
        height: var(--space-lg);
        grid-row: 1;
        grid-column: 1 / -1;
        flex-flow: row nowrap;
        top: var(--header-height);
        margin-top: 0;
        padding-bottom: 0;
        background: var(--bg-color);
        border-bottom: 1px solid var(--border-color);
        z-index: 99;
    }
}

.sidebar-header {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: var(--space-sm);
    white-space: nowrap;

    @include bp.mobile {
        height: 100%;
        margin-bottom: 0;
        align-content: center;
    }
}

.sidebar-nav {
    font-size: 0.9em;

    @include bp.mobile {
        height: 100%;
        display: flex;
        gap: var(--space-md);
        align-items: center;
        overflow-x: auto;
    }
}

.sidebar-nav * {
    margin-bottom: var(--space-md);

    @include bp.mobile {
        display: flex;
        flex-flow: row nowrap;
        gap: var(--space-sm);
        align-items: center;
        white-space: nowrap;
        margin-bottom: 0;
    }
}

.sidebar-nav ul li {
    margin: 0;

    @include bp.mobile {
        margin: 0 var(--space-sm);
    }
}

.sidebar-meta {
    font-size: var(--font-size-sm);
    color: var(--text-color-light);
    width: 75%;

    @include bp.mobile {
        width: fit-content;
    }
}

.sidebar-section {
    padding-top: var(--space-lg);
    
    @include bp.mobile {
        padding-top: 0;
    }
}

.sidebar::before {
    content: "";
    display: block;
    width: var(--space-md);
    height: 100%;
    background-color: var(--bg-color);
    position: absolute;
    left: calc(-1 * var(--space-md));
}

.sidebar::after {
    content: "";
    display: block;
    width: var(--space-md);
    height: 100%;
    background-color: var(--bg-color);
    position: absolute;
    right: calc(-1 * var(--space-md));
}