.tag {
    color: var(--text-color-light);
    background: var(--bg-color-light);
    display: inline-block;
    padding: 1px 8px;
    border: 1px solid var(--border-color-light);
    border-radius: 3px;
    font-size: 0.9em;
    margin-bottom: 3px;
    
    &:hover {
        color: var(--primary-text-color);
    }
}