.tag {
    background: none;
    text-decoration: none;
    color: var(--text-color-light);
    border: 1px solid var(--border-color);
    border-radius: var(--space-sm);
    color: var(--text-color-light);
    padding: 1px 4px;
    font-size: var(--font-size-sm);
    line-height: 1em;
    cursor: pointer;
    
    &:hover {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}