---
layout: page.njk
title: "Knowledge Base"
section: "Knowledge"
description: "A collection of knowledge articles and resources."
displaySidebar: false
permalink: '/kb/'
---

<div class="feed-list">
  {% for post in collections.kb | reverse %}
    <div class="feed-list__item">
      <h4><a href="{{ post.url }}">{{ post.data.title }}</a></h4>
      {% if post.data.tags %}
        <div class="feed-list__item-meta">
          {% for tag in post.data.tags %}
            <span class="tag">#{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>