@use "../../utilities/breakpoints" as bp;

:root {
    --header-height: var(--space-xl);
}

.header-container {
    max-width: var(--site-max-width);
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 102;
}

.header-logo-wrapper {
    grid-column: 1 /span 2;
    height: 100%;
    padding: var(--base-unit) 0;
    @include bp.mobile {
        grid-column: 1 /span 1;
    }
}

.header-logo {
    height: calc(var(--header-height) - calc(var(--space-md) * 2));
    min-width: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    white-space: nowrap;
}

.nav-global {
    grid-column: 4 / span 7;
    height: var(--header-height);

    @include bp.mobile {
        grid-column: 2 / span 4;
        overflow: hidden;
    }
}
  
.nav-global ul {
    display: flex;
    gap: var(--space-md);
    height: 100%;
    align-items: center;
    margin: 0;
    padding-bottom: 1px;
    font-weight: 600;
    text-transform: uppercase;

    @include bp.mobile {
        overflow-x: auto;
        scrollbar-width: none; 
        -ms-overflow-style: none;
    }
}

.nav-global li {
    height: 100%;
}

.nav-global a {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-global a:hover,
.nav-global a.current:hover {
    position: relative;
    top: 1px;
}

.header-icons {
    grid-column: 11 / span 2;
    height: 100%;
    text-align: right;
    font-size: var(--font-size-xl);
    white-space: nowrap;
    @include bp.mobile {
        grid-column: 6;
    }
}

.header-icons button {
    display: inline;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    color: var(--primary-text-color);
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin-left: var(--base-unit);
    height: 100%;
    align-items: center;
}