@use "../../utilities/breakpoints" as bp;

.search-wrapper {
    display: block;
    background: var(--bg-color);
    margin-left: calc(-1 * var(--space-md));
    margin-right: calc(-1 * var(--space-md));
}

.searchbar {
    width: var(--site-max-width);
    overflow: auto;
    margin: 0 auto;
    position: relative;

    @include bp.mobile {
        width: 100%;
    }
}

.searchbar .pagefind-ui input,
#search-page .pagefind-ui input {
    outline: none;
}

.searchbar .pagefind-ui__results-area {
    height: 90vh;
    padding-bottom: var(--header-height);
}

.searchbar .pagefind-ui__results-area li:hover {
    background: var(--gray-lightest);
}

.page-search .icon-search { 
    display: none;
}