.construction-notice {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: repeating-linear-gradient(
    45deg,
    rgb(240 240 240 / 10%),
    rgb(240 240 240 / 10%) 3px,
    rgb(153 153 153 / 30%) 3px,
    rgb(153 153 153 / 30%) 6px
    );
}