{% include "head.njk" %}

{% include "header.njk" %}

<main class="main-main">
    {{ content | safe }}
</main>
<script src="/assets/js/hamburger.js"></script>
<script src="/assets/js/header-scroll.js"></script>
<script src="/assets/js/gridDisplay.js"></script>

</body>
</html>