{% include "head.njk" %}

{% include "header.njk" %}

<main class="main-main">
    {{ content | safe }}
</main>

{% include "special/cookie-consent.njk" %}

{% include "scripts.njk" %}
<script src="/assets/js/gridDisplay.js"></script>

</body>
</html>