.center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-x {
    text-align: center;
    justify-content: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.top {
    text-align: top;
    vertical-align: top;
}

.center-y {
    display: flex;
    align-items: center;
}

.bottom {
    text-align: bottom;
    vertical-align: bottom;
}

.stretched {
    justify-content: space-between;
}