button,
.button {
    display: block;
    width: fit-content;
    background: var(--bg-color-light);
    color: var(--primary-color);
    border-radius: var(--space-lg);
    border: 1px solid var(--bg-color-light);
    text-decoration: none;
    padding: var(--space-sm) var(--space-md);
    cursor: pointer;

    &:hover {
        background: var(--bg-color);
        border: 1px solid var(--primary-color);
    }
}
